<div class="blog-masthead">
  <div class="container">
    <nav class="nav blog-nav header-color">
      <a class="nav-link active" href="#">Home</a>
      <a class="nav-link" href="comments/new">Submit new post</a>
      <a class="nav-link" href="#">What's this?</a>
    </nav>
  </div>
</div>