<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <%= link_to "Home", root_path, class: 'btn btn-info' %>


    <%= link_to "Content", content_path, class: 'btn btn-info' %>


    <%= link_to "Blog", blogs_path, class: 'btn btn-info' %>
  </div>
</nav>
